
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register{
    background-color: rgba(47, 47, 47, 0.71);
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
}

body{
    background-image: url("https://images.unsplash.com/photo-1556741533-6e6a62bd8b49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1366&q=80");
    color: rgb(36, 152, 214);
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 2em;
    background-color: rgba(47, 47, 47, 0.71);
    border-radius: 10px;
    position: absolute;
    top: 50%;    
    left: 50%;
    transform: translate(-50%,-50%);
}


.myform-input{

    margin: 2em 0;
    width: 100%;
    padding: 0.5rem;
    padding-left: 1rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
}

.myform-input::placeholder{
    color: rgb(36, 152, 214);
    font-size: 1rem;
}

.myform-input[type="submit"]{
    font-size: 1.2rem;
    padding: 0.5rem;
    color: white;
    background-color: rgb(36, 152, 214);
    border: 1px solid rgb(36, 152, 214);
    cursor: pointer;
    transition: all 0.3s;
}

.myform-input[type="submit"]:hover{
    background-color: white;
    color: rgb(36, 152, 214);
    border: 1px solid rgb(36, 152, 214);
}

.myform-input:focus{
    border: 3px solid rgb(36, 152, 214);
}

@media screen and (max-width: 1024px) {
    .register,.wrapper{
        width: 57%;
    }
    .myform-input{
        margin: 1em 0;
    }
    body{
        background-image: url("https://images.unsplash.com/photo-1556741533-6e6a62bd8b49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&h=600&q=80");
    }
}

@media screen and (max-width: 768px) {
    .register,.wrapper{
        width: 60%;
    }
    .myform-input{
        margin: 0.7em 0;
    }
    body{
        background-image: url("https://images.unsplash.com/photo-1556741533-6e6a62bd8b49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&h=600&q=80");
    }
}

@media screen and (max-width: 400px) {
    .register,.wrapper{
        width: 70%;
    }
    .myform-input{
        margin: 0.5em 0;
    }
    body{
        background-image: url("https://images.unsplash.com/photo-1556741533-6e6a62bd8b49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&h=600&q=80");
    }
}

#logout,.logout-form input{

    padding: 0.5rem;
    font-size: 1.2rem;
    margin-left: 1.5rem;
    background-color: rgb(36, 152, 214);
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;

}

